@import 'node_modules/nhsuk-frontend/packages/nhsuk';

.nhsuk-width-container {
  max-width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

.chart-container {
  height: 400px;
  width: 400px;
}
